

<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-right my-auto">
    <h1 class="mb-1">Cova Solutions</h1>
    <h3 class="mb-5">
      <em>Crea tu mercado digital, f&aacute;cil y r&aacute;pido</em>
    </h3>
  </div>
  <div class="overlay"></div>
</header>

<!-- About -->
<section class="content-section bg-light" id="about">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>Expande tu negocio con una fuerza de ventas basada en comisiones.</h2>
        <p class="lead mb-5">
          Un comisionista es un vendedor que gana una comisi&oacute;n cada vez que vende un art&iacute;culo.
        </p>
        <a class="btn btn-dark btn-xl" href="#services">Conoce nuestros otros servicios</a>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Funcionalidades</h3>
      <h2 class="mb-5">Explora todas las funcionalidades que tendra tu negocio en l&iacute;nea</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-screen-smartphone"></i>
        </span>
        <h4>
          <strong>Article Master</strong>
        </h4>
        <p class="text-faded mb-0">Configura los art&iacute;culos de tu tienda</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-pencil"></i>
        </span>
        <h4>
          <strong>Inventario</strong>
        </h4>
        <p class="text-faded mb-0">Lleva un control de tu inventario y la disponibilidad de tus art&iacute;culos</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-like"></i>
        </span>
        <h4>
          <strong>Entregas</strong>
        </h4>
        <p class="text-faded mb-0">Crea tus entregas y dales seguimiento para que el usuario vea el progreso de su compra.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-mustache"></i>
        </span>
        <h4>
          <strong>PayPal</strong>
        </h4>
        <p class="text-faded mb-0">Recibe pagos mediante Paypal</p>
      </div>
    </div>
  </div>
</section>

<!-- Callout -->
<section class="callout">
  <div class="container text-center">
    <h2 class="mx-auto mb-5">Crea tu fuerza de ventas de comisionistas!</h2>
    <a class="btn btn-primary btn-xl" href="/aggrid">Ve como hacerlo</a>
  </div>
</section>

<!-- Portfolio -->
<section class="content-section" id="portfolio">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Cova Solutions</h3>
      <h2 class="mb-5">Funcionalidades</h2>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>Article Master</h2>
              <p class="mb-0">Configura los art&iacute;culos de tu tienda</p>
            </span>
          </span>
          <img class="img-fluid" src="assets/img/portfolio-1.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="/inventario">
          <span class="caption">
            <span class="caption-content">
              <h2>Inventario</h2>
              <p class="mb-0">Lleva un control de tu inventario y la disponibilidad de tus art&iacute;culos</p>
            </span>
          </span>
          <img class="img-fluid" src="assets/img/portfolio-2.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="/entregas">
          <span class="caption">
            <span class="caption-content">
              <h2>Entregas</h2>
              <p class="mb-0">Crea tus entregas y dales seguimiento para que el usuario vea el progreso de su compra.</p>
            </span>
          </span>
          <img class="img-fluid" src="assets/img/portfolio-3.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>PayPal</h2>
              <p class="mb-0">Recibe pagos mediante Paypal</p>
            </span>
          </span>
          <img class="img-fluid" src="assets/img/portfolio-4.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="content-section bg-primary text-white">
  <div class="container text-center">
    <h2 class="mb-4">The buttons below are impossible to resist...</h2>
    <a href="#" class="btn btn-xl btn-light mr-4">Crea una empresa</a>
    <a href="/entrar" class="btn btn-xl btn-dark">Catalogo de empresa registradas</a>
  </div>
</section>
